<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="/" class="nav-link">Home </a>
        </li>
        <li class="nav-item">
          <a (click)="dropdown()" style="cursor: pointer;" class="nav-link">Products </a>
          <!-- <div *ngIf="showDropdown" class="prods">
            <a *ngFor="let product of products">
               {{product}}
            </a>
         </div> -->
        </li>
        <li class="nav-item">
          <a routerLink="/order" class="nav-link">Orders </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Login </a>
        </li>
      </ul>
    </div>
    <div *ngIf="showDropdown" class="drpdwn menuList open" data-toggle="tooltip" data-placement="top" data-original-title="" title="">
    <ul class="dropdown-menu smenu" role="menu">
      <li *ngFor="let product of products" class="col-sm-4 has-sub border-right">
        <a [routerLink]="[ '/products',product]"> {{product}}</a>
      </li>
    </ul>
  </div>
  </div>
</nav>